# Backend
PORT=8080
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=change_me_in_real_env

# DB (más adelante)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pokemmo
REDIS_URL=redis://localhost:6379